node_modules
.next
out

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*
!.env.example

.git
.gitignore

.agents
.claude
.windsurf

.vscode
.idea

Dockerfile
.dockerignore

coverage

*.log

.DS_Store
Thumbs.db