NODE_ENV=development
PORT=8000

AUTH_SERVICE_URL=http://localhost:5000
TODO_SERVICE_URL=http://localhost:5001
NOTIFICATION_SERVICE_URL=http://localhost:5002

GATEWAY_SECRET=CHANGE_ME

CLIENT_URL=http://localhost:3000