POSTGRES_USER=todo_user
POSTGRES_PASSWORD=change_me

POSTGRES_DB=todo_db

AUTH_DB_PASSWORD=change_me
NOTIFICATION_DB_PASSWORD=change_me

RABBITMQ_USER=rabbit_user
RABBITMQ_PASSWORD=change_me

GATEWAY_SECRET=change_me

CLIENT_URL=http://localhost:3000